In [1]:
#Dictionary
# indexing
# multiple and duplicate values
# Ordered
# Mutable

In [2]:
# d = {<key>:<value>, <key>:<value>}

In [5]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
<class 'dict'>

In [10]:
print(d['a'])

Apple

In [13]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog','a':'apple'}
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [14]:
# dict

In [15]:
d = {}
d['a'] = "Apple"
d["b"] = "Ball"
d["c"] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [17]:
# WAP to create a dict using name and phone
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone

print(d)

Enter n =  2
Enter name =  Ram
Enter phone =  9808889876
Enter name =  Shyam
Enter phone =  9806676543

{'Ram': '9808889876', 'Shyam': '9806676543'}

In [18]:
for i in d:
    print(i)

Ram
Shyam

In [19]:
for i in d.values():
    print(i)

9808889876
9806676543

In [20]:
for i in d.items():
    print(i)

('Ram', '9808889876')
('Shyam', '9806676543')

In [21]:
# in dict no + *

In [24]:
d = {'Ram': '9808889876', 'Shyam': '9806676543'}
d['Ram'] = 9808000000
d

{'Ram': 9808000000, 'Shyam': '9806676543'}

In [25]:
# delete
d = {'Ram': '9808889876', 'Shyam': '9806676543'}
del d['Ram']
d

{'Shyam': '9806676543'}

In [26]:
d = {'Ram': '9808889876', 'Shyam': '9806676543'}
x = d.pop('Ram')
print(x)

9808889876

In [30]:
# list inside ditc
d = {'Ram':[9845667654,9808778765],'Shyam':[9845673343,9808778765]}
print(d['Ram'])
print(d['Shyam'])

[9845667654, 9808778765]
[9845673343, 9808778765]

In [34]:
print(d['Ram'][1])

9808778765

In [35]:
# WAP to create a dict using name and phone
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell no")
    d[name] = [ntc,ncell]

print(d)

Enter n =  2
Enter name =  Ram
Enter ntc phone =  9845667654
Enter ncell no 9808778765
Enter name =  Shyam
Enter ntc phone =  9845667654
Enter ncell no 9808778765

{'Ram': ['9845667654', '9808778765'], 'Shyam': ['9845667654', '9808778765']}

In [37]:
# edit
d = {'Ram': ['9845667654', '9808778765'], 'Shyam': ['9845667654', '9808778765']}
d['Ram'][0] = 9845897611
d

{'Ram': [9845897611, '9808778765'], 'Shyam': ['9845667654', '9808778765']}

In [38]:
del d['Ram'][1]

In [39]:
d

{'Ram': [9845897611], 'Shyam': ['9845667654', '9808778765']}

In [40]:
d = {'name':['Ram','Shyam'],
    'age':[34,56],
    'add':['Kathmandu','Bhaktapur']}
d

{'name': ['Ram', 'Shyam'], 'age': [34, 56], 'add': ['Kathmandu', 'Bhaktapur']}

In [41]:
d = {'name':[],
    'age':[],
    'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)

d

Enter n =  2
Enter name =  Ram
Enter age =  78
Enter add =  Kathmandu
Enter name =  Shyam
Enter age =  23
Enter add =  Jhapa

{'name': ['Ram', 'Shyam'], 'age': [78, 23], 'add': ['Kathmandu', 'Jhapa']}

In [42]:
# detail of Ram
print(d['name'][0])
print(d['age'][0])
print(d['add'][0])

Ram
78
Kathmandu

In [43]:
# del data of Ram
del d['name'][0]
del d['age'][0]
del d['add'][0]

In [44]:
d

{'name': ['Shyam'], 'age': [23], 'add': ['Jhapa']}

In [45]:
# dict inside list
l = [{'name': 'Shyam', 'age': 23, 'add': 'Jhapa'},
    {'name': 'Hari', 'age': 78, 'add': 'Kathmandu'},
    {'name': 'Ram', 'age': 13, 'add': 'Palpa'}]
l

[{'name': 'Shyam', 'age': 23, 'add': 'Jhapa'},
 {'name': 'Hari', 'age': 78, 'add': 'Kathmandu'},
 {'name': 'Ram', 'age': 13, 'add': 'Palpa'}]

In [48]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
l

Enter n =  2
Enter name =  Ram
Enter age =  67
Enter add =  Kathmandu
Enter name =  Shyam
Enter age =  67
Enter add =  Lalitpur

[{'name': 'Ram', 'age': 67, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 67, 'add': 'Lalitpur'}]

In [50]:
l[0]['name']

'Ram'

In [ ]:
# dict inside dict
l = {1:{'name': 'Shyam', 'age': 23, 'add': 'Jhapa'},
    2:{'name': 'Hari', 'age': 78, 'add': 'Kathmandu'},
    3:{'name': 'Ram', 'age': 13, 'add': 'Palpa'}}