In [1]:
# Exceptio han

In [3]:
try:
    a = int(input("Enter a = "))
except:
    print("There is some error")

Enter a =  ffsdf

There is some error

In [4]:
try:
    a = int(input("Enter a = "))
    b = int(input("Enter b = "))
    c = a/b
except:
    print("There is some error")

Enter a =  100
Enter b =  0

There is some error

In [7]:
try:
    a = int(input("Enter a = "))
    b = int(input("Enter b = "))
    c = a/b
except ValueError:
    print("Please enter int value")
except ZeroDivisionError:
    print("Value of b can not be zero.")

Enter a =  10
Enter b =  0

Value of b can not be zero.

In [8]:
try:
    a = int(input("Enter a = "))
    b = int(input("Enter b = "))
    c = a/b
except ValueError:
    print("Please enter int value")
except ZeroDivisionError:
    print("Value of b can not be zero.")
else:
    print("Value of c = ",c)

Enter a =  10
Enter b =  2

Value of c =  5.0

In [11]:
age = 18
assert age >= 20

AssertionError:

In [18]:
db_username = 'admin'
db_password = 'admin'
c = 1
def login():
    global c
    username = input("Enter username = ")
    password = input("Enter password = ")
    try:
        assert username == db_username and password == db_password
    except:
        print("Username and password does not match!")
        c = c+1
        login()
    else:
        print("You are logedin!", c)

login()

Enter username =  admin
Enter password =  sdad

Username and password does not match!

Enter username =  admin
Enter password =  admin

You are logedin! 2

In [19]:
# List comprihenson

In [20]:
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [21]:
a = [input("Enter name") for i in range(2)]
a

Enter name Ram
Enter name Shyam

['Ram', 'Shyam']

In [23]:
a = ["Apple","Ball","Cat","Dog"]
b = [i.lower() for i in a]
b

['apple', 'ball', 'cat', 'dog']

In [24]:
a = ["Apple1","Ball1","Cat1","Dog1"]
b = [i.replace('1','') for i in a]
b

['Apple', 'Ball', 'Cat', 'Dog']

In [25]:
# dict

In [27]:
a = [1,2,3,4,5,6,7,8,9]
b = {i:i**2 for i in a}
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [28]:
a = {input("Enter name "):input("Enter phone ")  for i in range(2)}
a

Enter name  Ram
Enter phone  9808778765
Enter name  Syam
Enter phone  9808778765

{'Ram': '9808778765', 'Syam': '9808778765'}

In [29]:
a = ["Apple","Ball","Cat","Dog"]
b = {i:i.lower() for i in a}
b

{'Apple': 'apple', 'Ball': 'ball', 'Cat': 'cat', 'Dog': 'dog'}