In [1]:
# Python Collection
# List
# tuple
# dict
# set

In [2]:
# List
# -Indexing
# -Multiple and duplicate data
# -Ordered
# -Mutable

In [11]:
a = list()   #[]
a = [1,2,3,4,5,6,7,8,9,0]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [12]:
print(b[0])
print(b[0:5])
print(b[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
['Apple', 'Cat', 'Fish']

In [13]:
a = [1,2,3,4,5,6,7,8,9,0]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [14]:
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(b*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [15]:
a = [1,2,3,4,5,6,7,8,9,0]
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [16]:
# append() insert() extend()

In [18]:
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b.append("Ball")
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball']

In [19]:
# create a list

In [20]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)

print(a)

Enter n =  5
Enter x =  243
Enter x =  576
Enter x =  234
Enter x =  765
Enter x =  342

[243, 576, 234, 765, 342]

In [23]:
print("Min value = ",min(a))
print("Max value = ",max(a))
print("Sum value = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

Min value =  234
Max value =  765
Sum value =  2160
[234, 243, 342, 576, 765]
[765, 576, 342, 243, 234]

In [25]:
a = ["Ball","Xray","Yak","apple","Banana"]
a.sort()
print(a)

['Ball', 'Banana', 'Xray', 'Yak', 'apple']

In [26]:
# insert()
a = ["Ball","Xray","Yak","apple","Banana"]
a.insert(1,"Bat")
print(a)

['Ball', 'Bat', 'Xray', 'Yak', 'apple', 'Banana']

In [28]:
a = ["Ball","Xray","Yak","apple","Banana"]
b = [1,2,3]
a.extend(b)
print(a)

['Ball', 'Xray', 'Yak', 'apple', 'Banana', 1, 2, 3]

In [30]:
# edit
a = ["Ball","Xray","Yak","apple","Banana"]
a[0] = "ball"
a

['ball', 'Xray', 'Yak', 'apple', 'Banana']

In [31]:
a = ["Ball","Xray","Yak","apple","Banana"]
a[0:2] = ["ball","xray"]
a

['ball', 'xray', 'Yak', 'apple', 'Banana']

In [32]:
# del remove() pop()

In [33]:
a = ["Ball","Xray","Yak","apple","Banana"]
del a[0]
print(a)

['Xray', 'Yak', 'apple', 'Banana']

In [34]:
a = ["Ball","Xray","Yak","apple","Banana"]
del a[0:2]
a

['Yak', 'apple', 'Banana']

In [35]:
a = ["Ball","Xray","Yak","apple","Banana"]
a.remove("Ball")
a

['Xray', 'Yak', 'apple', 'Banana']

In [36]:
# pop()
a = ["Ball","Xray","Yak","apple","Banana"]
b = a.pop(0)
print(a)
print(b)

['Xray', 'Yak', 'apple', 'Banana']
Ball

In [37]:
# loop in list
a = ["Ball","Xray","Yak","apple","Banana"]
for i in a:
    print(i)

Ball
Xray
Yak
apple
Banana

In [39]:
l = ["Ball","Xray","Yak","apple","Banana"]
print(len(l))

5

In [43]:
i = 0
a = ["Ball","Xray","Yak","apple","Banana"]
l = len(a)
while i<l:
    print(a[i])
    i = i+1

Ball
Xray
Yak
apple
Banana

In [2]:
# list inside list (nested_list)

In [5]:
l = [[1,2,3],
     [4,5,6],
     [7,8,9]]

print(l[2])

[7, 8, 9]

In [7]:
print(l[0][0])

1

In [8]:
l = [["Ram",34,"Kathmandu"],
    ["Shyam",67,"Bhaktapur"],
    ["Hari",34,"Lalitpur"]]
print(l)

[['Ram', 34, 'Kathmandu'], ['Shyam', 67, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [9]:
# Wap to create list inside list

In [11]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])

print(info)

Enter n =  4
Enter name =  Ram
Enter age =  45
Enter add =  Kathmandu
Enter name =  Shyam
Enter age =  56
Enter add =  Bhaktapur
Enter name =  lalitpur
Enter age =  23
Enter add =  Lalitpur
Enter name =  Sabin
Enter age =  56
Enter add =  Jhapa

[['Ram', 45, 'Kathmandu'], ['Shyam', 56, 'Bhaktapur'], ['lalitpur', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]

In [13]:
l = [['Ram', 45, 'Kathmandu'], 
     ['Shyam', 56, 'Bhaktapur'], 
     ['Ram', 23, 'Lalitpur'], 
     ['Sabin', 56, 'Jhapa']]

l[0] = ["Rama",46,"Jhapa"]
print(l)

[['Rama', 46, 'Jhapa'], ['Shyam', 56, 'Bhaktapur'], ['Ram', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]

In [14]:
l = [['Ram', 45, 'Kathmandu'], 
     ['Shyam', 56, 'Bhaktapur'], 
     ['Ram', 23, 'Lalitpur'], 
     ['Sabin', 56, 'Jhapa']]

l[0][0] = "Ram Prasad"
print(l)

[['Ram Prasad', 45, 'Kathmandu'], ['Shyam', 56, 'Bhaktapur'], ['Ram', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]

In [15]:
# delete
del l[0]

In [16]:
print(l)

[['Shyam', 56, 'Bhaktapur'], ['Ram', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]

In [17]:
l = [['Ram Prasad', 45, 'Kathmandu'], ['Shyam', 56, 'Bhaktapur'], ['Ram', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]
for i in l:
    print(i)

['Ram Prasad', 45, 'Kathmandu']
['Shyam', 56, 'Bhaktapur']
['Ram', 23, 'Lalitpur']
['Sabin', 56, 'Jhapa']

In [20]:
a = ["Ram","Shyam","Hari","Ramesh","Shyam"]
if "Ram" in a:
    print("Yes",a.count("Ram"))

Yes 1

In [21]:
for i in a:
    print(i)

Ram
Shyam
Hari
Ramesh
Shyam

In [31]:
# search
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 56, 'Bhaktapur'], ['Ram Prasad', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]

name = input("Enter name = ")
for i in l:
    if name in i:
        print(i)

Enter name =  Ram

['Ram', 45, 'Kathmandu']

In [32]:
# search
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 56, 'Bhaktapur'], ['Ram Prasad', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]
name = input("Enter name = ")
for i in l:
    if name.lower() in i[0].lower():
        print(i)

Enter name =  ram

['Ram', 45, 'Kathmandu']
['Ram Prasad', 23, 'Lalitpur']

In [ ]:
# WAP to remove all multiple or duplicate data from list
#l = ["Apple","Ball","Cat","Fish","Apple"]

# WAP to find index of  duplicate data from list
#l = ["Apple","Ball","Cat","Fish","Apple"]