In [3]:
all_total = 0
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter quantity = "))
    total = price * qty
    info = info + name + " " + str(price) + " " + str(qty) + " " +str(total) + "\n"
    all_total = all_total + total
print(info)
print(all_total)

Enter n =  2
Enter product name =  Apple
Enter price =  100
Enter quantity =  3
Enter product name =  Banana
Enter price =  200
Enter quantity =  4

Apple 100 3 300
Banana 200 4 800

1100

In [4]:
# for loop in string

In [9]:
a = "Hello World"
for i in a:
    print(i,end = "")

Hello World

In [11]:
a = "Hello World"
for i in a:
    print(i,"Hello World")

H Hello World
e Hello World
l Hello World
l Hello World
o Hello World
  Hello World
W Hello World
o Hello World
r Hello World
l Hello World
d Hello World

In [12]:
a = "Hello World"
print(len(a))

11

In [16]:
a = "Hello World. I am Python."
for i in a:
    if i != ".":
        print(i,end = "")

Hello World I am Python

In [17]:
a = "Hello World. I am Python!"
for i in a:
    if i != "." and i != "!":
        print(i,end = "")

Hello World I am Python

In [18]:
# control statement
#break
#continue
#pass

In [19]:
# break

In [21]:
n = 10
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [27]:
a = "Hello World. I am Python"
for i in a:
    if i == ".":
        break
        
    print(i, end = "")

Hello World

In [29]:
n = 10
for i in range(10): #0,1,2,3,4,5,6,7,8,9
    if i == 5:
        continue
    print(i,end = " ")

0 1 2 3 4 6 7 8 9

In [31]:
a = "Hello World. I am Python."
for i in a:
    if i == ".":
        continue
        
    print(i, end = "")

Hello World I am Python

In [35]:
# pass
for i in range(5):
    pass

In [1]:
# while loop

In [2]:
# while <condition>:
#     <operations>

In [5]:
a = 0
while a <= 5:
    print(a,"Hello World")
    a = a + 1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World

In [6]:
a = 1
while a <= 5:
    print(a,"Hello World")
    a = a + 1

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World

In [7]:
a = 1
while a <= 5:
    print(a,"Hello World")
    a = a + 2

1 Hello World
3 Hello World
5 Hello World

In [9]:
a = 5
while a>=0:
    print(a,"Hello World")
    a = a-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [10]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
i = 0
s = 0
n = int(input("Enter n= "))
while i<n:
    x = int(input("Enter x = "))
    s = s + x
    i = i + 1

print(s)

Enter n=  5
Enter x =  100
Enter x =  200
Enter x =  345
Enter x =  321
Enter x =  456

1422

In [12]:
i = 0
s = ""
n = int(input("Enter n= "))
while i<n:
    x = input("Enter x = ")
    s = s + x + "\n"
    i = i + 1

print(s)

Enter n=  5
Enter x =  Ram
Enter x =  Shyam
Enter x =  Hari
Enter x =  Sita
Enter x =  Gita

Ram
Shyam
Hari
Sita
Gita

In [13]:
# factorial
# 5! = 1*2*3*4*5
i = 1
fac = 1
n = int(input("Enter n = "))
while i<=n:
    fac = fac * i
    i = i + 1

print(fac)

Enter n =  5

120

In [14]:
# control statement
#break
#continue
#pass

In [16]:
i = 0
while i<=10:
    if i == 5:
        break
    print(i)
    i = i + 1

0
1
2
3
4

In [2]:
i = 0
while i<=10:
    if i == 5:
        i = i+1
        continue
        
    print(i, end = " ")
    i = i + 1

0 1 2 3 4 6 7 8 9 10

In [3]:
# for else loop

In [4]:
# prime no : 2,3,5,7,11,13,17,19
# composite no: 4,6,8,9,10,12

In [8]:
n = int(input("Enter n = "))
for i in range(2,n):
    if n%i==0:
        print("Composite No")
        break
else:
    print("Prime no")

Enter n =  3

Prime no

In [ ]:
# Next string