In [1]:
# Tuple
# -Indexing
# -Ordered
# -Multiple and Duplicate data
# -Imutable

In [4]:
#t = tuple()
t = (1,2,3,4,5,6,7,8,9,1)
print(type(t))

<class 'tuple'>

In [3]:
a = (1,2,3,4,5)
b = (6,7,8,9)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0])
print(a[0:3])

Apple
('Apple', 'Ball', 'Cat')

In [8]:
# In tuple 
# No append() insert() extend()
# No Update or Edit
# No delete
# No sort

In [12]:
t = (1,)
type(t)

tuple

In [13]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)

print(t)

Enter n =  5
Enter x =  23
Enter x =  43
Enter x =  21
Enter x =  56
Enter x =  32

(23, 43, 21, 56, 32)

In [ ]:
# min() max() sum()

In [ ]:
#Set
# -No Indexing
# -Unordered
# -Multiple but no Duplicate data
# -mutable

In [1]:
s = set()
s = {"Apple","Banana","Cat","Dog","Egg","Fish"}
print(s)

{'Banana', 'Egg', 'Dog', 'Cat', 'Apple', 'Fish'}

In [2]:
for i in s:
    print(i)

Banana
Egg
Dog
Cat
Apple
Fish

In [3]:
s = {"Apple","Banana","Cat","Dog","Egg","Fish","Apple","Dog","Cat"}
print(s)

{'Banana', 'Egg', 'Dog', 'Cat', 'Apple', 'Fish'}

In [4]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Ball', 'Cat', 'Apple'}

In [1]:
s = {'Ball', 'Cat', 'Apple'}
a = {1,2,3,4}
s.update(a)
print(s)

{'Apple', 1, 'Ball', 'Cat', 2, 3, 4}

In [2]:
s = {'Ball', 'Cat', 'Apple'}
s.remove("Ball")
print(s)

{'Apple', 'Cat'}

In [3]:
#intersection
a = {2,3,1,5,6,4,}
b = {1,2,3,8,6,0,2}

c = a.intersection(b)
print(c)

{1, 2, 3, 6}

In [6]:
#union
a = {2,3,1,5,6,4,}
b = {1,2,3,8,6,0,2}

c = a.union(b)
print(c)

{0, 1, 2, 3, 4, 5, 6, 8}

In [4]:
print(a-b)

{4, 5}

In [5]:
print(b-a)

{0, 8}

In [7]:
U = {0,1,2,3,4,5,6,7,8,9}
a = {2,3,1,5,6,4,}
b = {1,2,3,8,6,0,2}

c = U - a.union(b)
print(c)

{9, 7}

In [8]:
# The is no set inside set
# No List inside set
# No dict inside set
# ie No mutable datatype inside set
s = {{1,2},{4,5}}
s

TypeError: unhashable type: 'set'

In [9]:
s = {(1,2),(4,5)}
s

{(1, 2), (4, 5)}